*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rgb(156, 162, 137);
    
}
h1{
    color:rgb(104, 181, 213);
}
.container{
    position: relative;
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
}
.addTask{
    width: 100%;
    display: flex;
    padding: 10px 0;
}
.addTask > input[type="text"]{
    width: 90%;
    color: rgb(35, 21, 6);
    border-bottom: 2px solid rgb(212, 101, 214);
    padding: 10px;
    font-size: 22px;
}
.addTask button{
    margin: 0 10px;
    background-color: rgba(143, 200, 222, 0.675);
    color: rgb(1, 1, 1);
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
.notCompleted, .Completed{
    margin: 5px 0;
    padding: 20px;
}
h4{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: black;
       width: 100%;
}
ol li{
    width: 100%;
    padding: 18px;
    margin: 5px 0;
    font-size: 22px;
    background-color:rgb(172, 138, 232);
    counter-increment: my-counter;
}
ol.Completed li{
    background: #a7bab5;
}
ol li::before{
    content: counter(my-counter);
    background: skyblue;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    line-height: 2rem;
    text-align: center;
    color: #fff;
    margin-right: 0.5rem;
}
li button{
    float:right;
    padding: 5px;
    font-size: 28px;
    line-height: 28px;
    margin-right: 15px;
    cursor: pointer;
}